.card {
    border-radius: 10px;
    display: grid;
    max-width: 400px;
    background: #FFFFFF;
    grid-gap: 5px;
    /* height: 576px; */
    height: auto;
    position: relative;
    bottom: 30px;
}

.card__header {
    /* position: absolute; */
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .card__icon-container {
    position: absolute;
    z-index: 2; 
    display: flex;
   }

.card__icon-saved {
    margin-left: 350px;
    margin-top: 10px;
    padding-top: 0; 
   }

  .card__icon-saved:hover {
    opacity: 0.6;
  }

  /* Al hacer click en el icono, que cambie de color (imagen) */
  .card__icon-savedClick {
    margin-left: 350px;
    margin-top: 10px;
    padding-top: 0;
    background-image: url('../../images/iconGuardarClick1.svg'); 
    background-repeat: no-repeat;
    position: absolute;
    /* object-fit: cover; */
    z-index: 2;
    
  }

  .card__icon-saved_changeColor { 
    margin-left: 350px;
    margin-top: 10px;
    padding-top: 0;
    background-image: url('../../images/iconGuardarBlue.svg'); 
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    /* object-fit: cover; */

  }

  .card__login-message-container {
    z-index: 2;
    background-color: white;
    max-width: 210px;
    width: auto;
    margin-left: auto; 
    /* height: auto; */
    border-radius: 10px;
    margin-left: 170px;
    top: 0;
    position: absolute;
    margin-top: 10px;
    
  }

  .card__login-message {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1;
    z-index: 2;
    margin-left: 8px;
    margin-right: 8px;


  }

  .card__image {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 272px;
    margin: 0;
    padding: 0;
    position: absolute;

  }


  .card__footer-image {
    position: relative;
    margin-top: 260px;
    max-width: 352px;
    margin-left: 20px;
    gap: 10px;

  }

  .card__date {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgb(105, 102, 102);
    margin-bottom: 20px;

  }

  .card__title {
    font-family: "Roboto Slab", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    padding: 0;
    height: 80px;
    margin-top: 0;
    padding-bottom: 30px;

  }

  .card__description {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: black;
    height: auto;
    padding-top: 30px;
   

  }

  .card__results {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    min-width: 200px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50px;
    max-width: 288px;
    height: 64px;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
}

.card__source {
    font-family: "Roboto Slab", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:#B6BCBF;
  
}


