.body, html {
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;

}

.app-container {
    background-image: url('../../images/imageMain.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover; 
    height: 800px;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  
  @media screen and (min-width: 1280px) {
    .app-container {
      margin: 0 auto;
      width: 100%;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .app-container {
      margin: 0 auto;
      /* min-width: 320px; */
      width: 100%;
  
    }
  }

  
  .saved-news-container {
    background-image: none;
    background-color: white;
  }
