.body, html {
    margin: 0; 
    padding: 0;
    background-image: url('../../images/InicioImage.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover; 

}

.page {
    width: 100%;
    /* max-width: 1280px; */
    height: auto;
    padding: 0;
    margin: 0;
  }
  
  @media screen and (min-width: 1280px) {
    .page {
      margin: 0 auto;
    }
  }