.header {
    border-bottom: 1px #545454 solid;
    margin: 0;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-height: 80px;
    
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
      max-height: 56px;

    }
  }
  
  .header__text {
    font-family: "Roboto Slab", Arial, sans-serif;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 100px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1250px) {
    .header__text {
      margin-left: 50px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header__text {
      font-size: 16px;
      margin-left: 10px;
      
    }
  }

  .header__container-texts {
    display: flex;
    margin-top: 30px;
    row-gap: 20px;
    margin-right: 100px;
    flex-direction: row;
}

@media screen and (min-width: 767px) and (max-width: 1250px) {
  .header__container-texts{
    margin-right: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__container-texts {
    flex-direction:column;
    /* align-items:center; */
    align-items: flex-end;
    gap: 5px;
    /* justify-content: center; */
    /* text-align: center;  Para ponerlo en el centro*/
    /* margin: 230px auto 0; */
    margin-top: 230px;
    margin-right: 16px;
    left: 0;
  }
}

  .header__link_text {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    color: white;
    margin-right: 30px;

  }

  .header__link_text:hover {
    opacity: 0.6;
  }


  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header__link_text {
      /* font-size: 10px; */
      font-size: 14px;

    }
  }

  .header__container-texts_SavedNews {
    display: flex;
    margin-top: 30px;
    row-gap: 20px;
    margin-right: 100px;
    flex-direction: row;

  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header__container-texts_SavedNews {
      flex-direction:column;
      gap: 5px;
      /* justify-content: center; */
      /* text-align: center;  Para ponerlo en el centro*/
     margin-top: 250px;
     margin-right: 10px;
     z-index: 2;
     align-items: flex-end;

  
    }
  }

  .header__container_SavedNews{
    display: flex;
    align-items: center;
    
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header__container_SavedNews {
      flex-direction:column;
      gap: 5px;
      /* justify-content: center; */
      /* text-align: center; */
      margin: 0;
  
    }
  }

  .header__link_text-border {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    color: white;
    border: 1px solid white;
    margin: 0;
    padding: 0;
  }

  .header__link_text-border:hover {
    opacity: 0.6;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header__link_text-border {
      min-width: 85px;
      max-height: 55px;
      font-size: 14px;
      /* margin-right: 50px; */

    }
  }

  .header__icon-logout {
    width: 24px;
    height: 24px;
    top: 5px;
    vertical-align: middle;

  }

  .header__text_SavedNews {
    font-family: "Roboto Slab", Arial, sans-serif;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 100px;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header__text_SavedNews {
      font-size: 16px;
      margin-left: 10px;
      
    }
  }


  .header__link_text_SavedNews {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    color: black;
    margin-right: 30px;

  }

  .header__link_text_SavedNews:hover {
    opacity: 0.6;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header__link_text_SavedNews {
      font-size: 14px;

    }
  }
 
  .header__link_text-border_SavedNews {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    color: black;
    border: 1px solid black;
    margin: 0;
    padding: 0;

  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header__link_text-border_SavedNews {
    width: auto;
      /* max-width: 100px; */
      max-height: 55px;
      font-size: 14px;

    }
  }
