.main {
    align-items: center;
    max-width: 800px; 
    margin: 100px auto; 
    z-index: 2;
    
    
}

.main__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 80px;
    line-height: 1;
    color: white;

}

.main__subtitle {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 25px;
    line-height: 1;
    color: white;

}