.footer {
    margin-top: 0;
    margin-left: 200px;
    max-width: 318px;
    padding-bottom: 60px;
    background-color: white;
  }

  .footer__author {

  }

  .footer__author_image {

  }

  .footer__author_text {

  }

  .footer__author_title {

  }

  .footer__author_about {

  }

  .footer__copyright {

  }

  .footer__link_text {

  }