.footer {
    margin: 0; 
    padding: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
 
  }

  .footer__author {
    display: flex;
    flex-direction: row;

  }

  .footer__author_image {
    max-width: 450px;
    height: 450px;
    top: 100px;
    margin: 100px;
    border-radius: 50%;
    object-fit: cover;

  }

  .footer__author_text {
    margin-top: 150px;

  }

  .footer__author_title {
    font-family: "Roboto Slab", Arial, sans-serif;
    font-style: normal;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: black;
    margin-bottom: 30px;

  }

  .footer__author_about {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: black;

  }

  .footer__link {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 100px;
    margin-bottom: 0;
    padding-bottom: 50px;
    

  }

  .footer__link_text {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: black;
    margin-left: 50px;
    left: 0;

  }

  .footer__link_text:hover {
    border-bottom: 2px solid black; 
  }


  .footer__copyright {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-right: auto;
    color:#B6BCBF;

  }