.footer {
    margin: 0; 
    padding: 0;
    width: 100%;
    height: auto;
    background-color: white;
 
  }

  .footer__author {
    display: flex;
    flex-direction: row;
    gap: 50px;

  }

  .footer__author_image {
    max-width: 450px;
    height: 450px;
    top: 100px;
    margin: 100px 50px;
    border-radius: 50%;
    object-fit: cover;

  }

  .footer__author_text {
    margin-top: 150px;

  }

  .footer__author_title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    color: black;

  }

  .footer__author_about {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: black;

  }

  .footer__link {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;

  }

  .footer__link_text {
    margin-right: 20px; 
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: black;
    left: 0;

  }

  .footer__copyright {
    
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: rgb(105, 102, 102);
    margin-left: 50px;

  }