.popup__info-container {
    display: flex;
    position: fixed;
    min-width: 430px;
    height: 182px;
    left: 585px;
    top: 300px;
    background-color: white;
    border-radius: 8px;
    flex-direction: column;
    z-index: 20;
   
}

.popup__info-closed {
    display: none;
    
}

.popup__info-CloseIcon {
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    top: -45px;
    right: -45px; 
  }
  
  .popup__info-CloseIcon:hover {
    opacity: 0.6;
  }
  
  @media screen and (min-width: 767px) and (max-width: 1250px) {
    .popup__info-CloseIcon {
      top: 450px;
      right: 210px;
    }
  }
  
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__info-CloseIcon {
      top: 425px;
      right: 140px;
    }
  }

.popup__info-text {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: black;
    margin-left: 30px;
    margin-top: 50px;
    max-width: 315px;

} 

.popup__info-link {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    color:#2F71E5;
    margin-left: 30px;

}

.popup__info-link:hover {
  opacity: 0.6;
}