/* .savedNews-container {
  background-image: none !important;
  background-color: white !important;
    
} */

/* .saved-news-container {
  background-image: none;
  background-color: white;
  position: relative;
} */

.saved-news_NoCardsFound {
  margin-left: 100px;
}
