.saved-news__cards {
  display: grid;
  padding: 100px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(238, 244, 247);
  grid-gap: 15px;
  z-index: 1;
  margin: auto;
  min-height: 300px;
}

@media screen and (min-width: 767px) and (max-width: 1250px) {
  .saved-news__cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 20px;
    justify-items: center;
    flex-direction: column;
    grid-gap: 10px;
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .saved-news__cards {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 50px 20px;
    margin-bottom: 50px;
  }
}

.saved-news_NoCardsFound {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 450%);
}
