/* .savedNews-container {
  background-image: none !important;
  background-color: white !important;
    
} */

/* .saved-news-container {
  background-image: none;
  background-color: white;
  position: relative;
} */
