.searchForm {
    justify-content: center;
    display: flex;

}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .searchForm  {
      flex-direction: column;
      gap: 20px;
     margin-left: 200px;
  
    }
  }

.searchForm__input {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    min-width: 500px;
    padding: 20px 5px;
    border: none;
    border-radius: 50px; 
    padding-left: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    .searchForm__input {
        min-width: 300px;
        

    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .searchForm__input {
        min-width: 288px;
        height: 56px;
  
    }
  }


.searchForm__button {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    min-width: 200px;
    color: white;
    background-color: rgb(53, 103, 194);
    border: none;
    border-radius: 50px; 
}

.searchForm__button:hover {
    background-color: rgb(81, 124, 202);
  }

.searchForm__button:active {
    background-color: rgb(15, 68, 167);
}

@media screen and (min-width: 767px) and (max-width: 1250px) {
    .searchForm__button {
        min-width: 150px;
        

    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .searchForm__button{
        min-width: 320px;
        height: 56px;
  
    }
  }

.searchForm_mesageNoInput {
  position:absolute;
  bottom: 110px;
  left: auto;

}

@media screen and (min-width: 1280px) and (max-width: 2560px) {
    .searchForm_mesageNoInput {
        margin-bottom: 510px;
       left: auto;

    }
  }

@media screen and (min-width: 767px) and (max-width: 1250px) {
    .searchForm_mesageNoInput {
       top: 390px;
       left: auto;
        

    }
  }